# WARNING: KEEP THE ORDER AND NO SPACE BEFORE OPENOCD_xxx PARAMETERS

# For the OPENOCD module you have to give the following information:

# OPENOCD_VERSION <version> (version required)
# OPENOCD_FILE_PATH <path> (relative directory path where to load the kernel source)

# OPENOCD_ARCHIVE_PATH <path> (URL used to load containing archive)
# or (exclusive)
# OPENOCD_GIT_PATH <path> (GIT URL used to clone containing)
# OPENOCD_GIT_SHA1 <sha1> (Optional: GIT SHA1 required - if not defined the OPENOCD_VERSION set is used)

# If additional patches are required (optional)
# OPENOCD_PATCH_1 <file name> (file name without .patch suffix)
# ...
# OPENOCD_PATCH_<n> <file name> (file name without .patch suffix)

OPENOCD_VERSION 0.12.0
OPENOCD_FILE_PATH device/stm/stm32mp2-openocd/openocd-stm32mp2

# No archive version compatible (use GIT)

OPENOCD_GIT_PATH https://github.com/openocd-org/openocd.git
OPENOCD_GIT_SHA1 2c8376b79d104a855bd3a559e59edf330309bcad

OPENOCD_PATCH_1 0001-v0.12.0-stm32mp-r1.patch
